<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.guiddemo"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.INTERNET" />    
   		<uses-permission android:name="android.permission.READ_PHONE_STATE" />
 		<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
 		<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
		 <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
		 <uses-permission android:name="android.permission.WAKE_LOCK" />
 		<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
		 <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
 		<uses-permission android:name="android.permission.VIBRATE" />
 		<uses-permission android:name="getui.permission.GetuiService.com.example.guiddemo" />
 		<uses-permission android:name="android.permission.GET_TASKS"/>
 
        <permission
  		     android:name="getui.permission.GetuiService.com.example.guiddemo"
   			 android:protectionLevel="normal">
		</permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
		<!--SDK-->
<!---->
<meta-data
 android:name="PUSH_APPID"
 android:value="YTeqTnwxru89clMfPJhlh"/><!--APPID-->
<meta-data
 android:name="PUSH_APPKEY"
 android:value="x5TjQoxplW6UmnkQsXDkt7"/><!--APPKEY-->
<meta-data
 android:name="PUSH_APPSECRET"
 android:value="TsEBS8l4aTAOEo2n6gDFF8"/><!--APPSECRET-->
<meta-data
 android:name="PUSH_GROUPID"
 android:value=""/>
<!--SDK-->
<service
 android:name="com.igexin.sdk.PushService"
 android:exported="true"
 android:label="NotificationCenter"
 android:process=":pushservice">
</service>
<receiver 
 android:name="com.igexin.sdk.PushReceiver">
 <intent-filter>
 <action android:name="android.intent.action.BOOT_COMPLETED"/>
 <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
 <action android:name="android.intent.action.USER_PRESENT"/>
 <action android:name="com.igexin.sdk.action.refreshls"/>
 </intent-filter>
</receiver>
<receiver
 android:name="com.igexin.sdk.PushManagerReceiver"
 android:exported="false" >
 <intent-filter>
 <action android:name="com.igexin.sdk.action.pushmanager" />
 </intent-filter>
</receiver>
<activity
 android:name="com.igexin.sdk.PushActivity"
 android:excludeFromRecents="true"
 android:exported="false"
 android:process=":pushservice"
 android:taskAffinity="com.igexin.sdk.PushActivityTask"
 android:theme="@android:style/Theme.Translucent.NoTitleBar">
</activity>
<!--activity-->
<activity 
 android:name="com.igexin.getuiext.activity.GetuiExtActivity"
 android:configChanges="orientation|keyboard|keyboardHidden"
 android:excludeFromRecents="true"
 android:process=":pushservice"
 android:taskAffinity="android.task.myServicetask"
 android:theme="@android:style/Theme.Translucent.NoTitleBar"
 android:exported="false"/>
<receiver 
 android:name="com.igexin.getuiext.service.PayloadReceiver"
 android:exported="false">
 <intent-filter>
 <!--com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4-->
 <action android:name="com.igexin.sdk.action.7fjUl2Z3LH6xYy7NQK4ni4"/>
 <!--android:name="com.igexin.sdk.action.appId"-->
 <action android:name="com.igexin.sdk.action.YTeqTnwxru89clMfPJhlh"/>
 </intent-filter>
</receiver>
<service 
 android:name="com.igexin.getuiext.service.GetuiExtService"
 android:process=":pushservice"/>
<!--download-->
<service 
 android:name="com.igexin.download.DownloadService"
 android:process=":pushservice"/>
<receiver
 android:name="com.igexin.download.DownloadReceiver">
 <intent-filter>
 <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
 </intent-filter>
</receiver>
<provider
 android:name="com.igexin.download.DownloadProvider"
 android:process=":pushservice"
 android:authorities="downloads.com.example.guiddemo"/><!--downloads.-->
<!--===========================================================================-->
        <activity
            android:name="com.example.guiddemo.MainActivity"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.guiddemo.LogActivity"></activity>
    </application>

</manifest>
